@charset 'utf-8';

/* em, rem 단위 쓰는 기준: 글씨 크기는 rem, 여백 및 크기는 em 단위를 사용하여 글씨 크기에 비례한 크기로 지정 */
/* vw, rem 단위 쓰는 기준: 창 크기에 따라 유연하게 조정할 것은 vw, 고정할 크기는 rem 단위 사용  */
/* 비디오나 이미지가 풀스크린에 꽉 차는 경우가 있기 때문에 scroll-section에 max-width를 주는 대신 필요한 부분에 추가 */
/* 조금 더 넓은 브라우저 지원을 위해 position: sticky 대신 position: fixed 사용 */

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}
p {
	line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

.global-nav {
	/* nav가 높이를 차지하지 않게함으로써 스크롤 섹션 위치 계산에 영향을 미치지 않도록 함 */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
  z-index: 10;
	height: 44px;
	padding: 0 1rem;
}
.local-nav {
	position: absolute;
	top: 44px;
	right: 0;
	left: 0;
  z-index: 11;
	height: 52px;
	padding: 0 1rem;
	border-bottom: 1px solid #ddd;
}
.global-nav-links,
.local-nav-links {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.global-nav-links {
	justify-content: space-between;
}
.local-nav-links .product-name {
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
}
.local-nav-links a {
	font-size: 0.8em;
}
.local-nav-links a:not(.product-name) {
	margin-left: 2em;
}

.scroll-section {
	padding-top: 50vh;
}
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
	font-size: 4rem;
	text-align: center;
}
.main-message {
	top: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	margin: 5px 0;
	font-size: 2.5rem;
	opacity: 0;
}
.main-message p {
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}
.main-message small {
	display: block;
	margin-bottom: 0.5em;
	font-size: 1.2rem;
}
#scroll-section-2 .main-message {
	font-size: 3.5rem;
}
.description {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;
}
.description strong {
	float: left;
	margin-right: 0.2em;
	font-size: 3rem;
	color: rgb(29, 29, 31);
}
.sticky-elem.desc-message {
	width: 45%;
	font-weight: bold;
	opacity: 0;
}
.desc-message {
	width: 50%;
	font-weight: bold;
  opacity: 0;
}
.pin {
	width: 1px;
	height: 100px;
	background-color: rgb(29, 29, 31);
}
#scroll-section-2 .b {
	top: 10%;
	left: 40%;
}
#scroll-section-2 .c {
	top: 15%;
	left: 45%;
}
.mid-message {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 2rem;
	color: #888;
}
.mid-message strong {
	color: rgb(29, 29, 31);
}
.canvas-caption {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7rem;
	color: white;
	background-color: darkorange;
}

.sticky-elem {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
}

.sticky-elem-canvas {
  /* background: #ccc; 가로 100% 안 차도 괜찮은거여? */
	top: 0;
	height: 100%;
}
.sticky-elem-canvas canvas {
  /* scale로 크기를 조정하기 때문에 position과 transform을 사용해서 중앙 정렬을 해주어야 함 */
  /* transform 속성은 scale와 함께 JS에서 관리 */
	position: absolute;
	top: 50%;
	left: 50%;
}

@media (min-width: 1024px) {
	#scroll-section-0 h1 {
		font-size: 9vw;
	}
	.main-message {
		font-size: 4vw;
	}
	.description {
		font-size: 2rem;
	}
	.description strong {
		font-size: 6rem;
	}
	#scroll-section-2 .main-message {
		font-size: 6vw;
	}
	.main-message small {
		font-size: 1.5vw;
	}
	.desc-message {
		width: 20%;
	}
	#scroll-section-2 .b {
		top: 20%;
		left: 53%;
	}
	#scroll-section-2 .c {
		left: 55%;
	}
	.mid-message {
		font-size: 4vw;
	}
	.canvas-caption {
		font-size: 2rem;
	}
}